<a location="linkowanko" class="linkowanko" href="http://localhost:8080/vaadindemo"></a>
<!-- 
<ul class="header_links">
	<a href="http://localhost:8080/vaadindemo"><li>Strona główna</li></a>
	<a href="http://localhost:8080/vaadindemo/add"><li>Dodaj film</li></a>
</ul>
-->
<div location="header" class="header"></div>
<div location="left_menu" class="left_menu"></div>
<div location="right_menu" class="right_menu"></div>
